.gitignore
future-config
euphonium/.DS_Store
euphonium/*.d
euphonium/.idea
euphonium/.cache
euphonium/.cache/
euphonium/authBlob.json
euphonium/cmake-build-debug
euphonium/scripts-version
euphonium/wifi.config.json
euphonium/build/
euphonium/euphonium/protos
euphonium/euphonium/scripts/*.json
euphonium/euphonium/scripts/configuration/*.json
euphonium/targets/cli/build/*
euphonium/targets/esp32/*.gz
euphonium/targets/esp32/ota-checksum.txt
euphonium/targets/esp32/ota.bin
euphonium/targets/esp32/scripts_checksum.txt
euphonium/targets/esp32/scripts.tar
euphonium/targets/esp32/recovery/dependencies.lock
euphonium/targets/esp32/app/dependencies.lock
euphonium/targets/esp32/app/spiffs/*
euphonium/web/package-lock.json
euphonium/web/yarn.lock
euphonium/py/
euphonium/targets/esp32/recovery/build
