sphinx-rtd-theme>=1.0.0
rst2html>=2020.7.4
docutils>=0.17.1
rst2pdf>=0.98
sphinx_charts>=0.0.4
plotly>=5.4.0
pandas>=1.3.5
kaleido>=0.2.1
fitz>=0.0.1.dev2
PyMuPDF>=1.19.3
sphinx-favicon>=0.2
sphinxcontrib-youtube>=1.0.1
